<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Task 3</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="CalculatorController">
        <h2>Simple Calculator</h2>
        <input type="number" ng-model="num1" placeholder="Enter first number">
        <select ng-model="operation">
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
        </select>
        <input type="number" ng-model="num2" placeholder="Enter second number">
        <button ng-click="performOperation()">Calculate</button>
        <h3>Result: {{ result }}</h3>
    </div>
    <script>
    var app = angular.module('myApp', []);
    app.controller('CalculatorController', function($scope) {
        $scope.num1 = 0;
        $scope.num2 = 0;
        $scope.result = 0;
        $scope.performOperation = function() {
            switch ($scope.operation) {
                case 'add':
                    $scope.result = $scope.num1 + $scope.num2;
                    break;
                case 'subtract':
                    $scope.result = $scope.num1 - $scope.num2;
                    break;
                case 'multiply':
                    $scope.result = $scope.num1 * $scope.num2;
                    break;
                case 'divide':
                    if ($scope.num2 !== 0) {
                        $scope.result = $scope.num1 / $scope.num2;
                    } else {
                        alert('Cannot divide by zero');
                    }
                    break;
                default:
                    $scope.result = 0;
            }
        };
    });
    </script>
</body>
</html>
